<img src='INSAID_Full_Logo.png' width="240" height="60">

# Exploratory Data Analysis (Car Sales Dataset)

<img src="cars8.jpg" width=800px; height=100px>

<a id=section0></a>
## Table Of Contents
- 1. [Problem Statement](#section1)<br>
    - 1.1 [Introduction](#section101)<br>
- 2. [Importing Packages](#section2)<br>
- 3. [Data Loading](#section3)<br>
    - 3.1 [Data Description](#section301)<br>
    - 3.2 [Data Profiling](#section302)<br>
        - 3.2.1 [Data Understanding](#section30201)<br>
        - 3.2.2 [Rename Columns name](#section30202)<br>        
        - 3.2.3 [Pandas Profiling before Data Preprocessing](#section30203)<br>
- 4. [Data Preprocessing](#section4)<br>
    - 4.1 [Remove duplicates](#section401)<br>
    - 4.2 [Dealing with zero and missing values](#section402)<br>
        - 4.2.1 [Dealing with zero values](#section40201)<br>
        - 4.2.2 [Dealing with missing values](#section40202)<br>
        - 4.2.3 [Dealing with "Other" values](#section40203)<br>
    - 4.3 [Drop column model due to high cardinality](#section403)<br>
    - 4.4 [Pandas Profiling after Data Preprocessing](#section404)<br>

<a id=section1></a>
## 1. Problem Statement

This dataset is the collection of all the sales that were made by a car dealer from 1953 to 2016. Through analysis we can find the car purchase trend of people, the likeliness towrard the features of the cars, purchase based on budgetory constraints, etc.

<a id=section101></a>
### 1.1 Introduction
This dataset was collected from car sale advertisements for study/practice purposes in 2016. Car topic is really interesting!!!. 

This Exploratory Data Analysis on a structured data set includes loading, inspecting, wrangling, exploring, and drawing conclusions from data. The notebook has observations with each step in order to explain thoroughly how to approach the data set. Based on the observation some questions are also answered in the notebook for reference, though not all of them are explored in the analysis.

## 2. Importing Packages<a id=section2></a>
[Table Of Contents](#section0)

In [1]:
import numpy as np                     

import pandas as pd
pd.set_option('mode.chained_assignment', None)      # To suppress pandas warnings.
pd.set_option('display.max_colwidth', -1)           # To display all the data in each column
pd.options.display.max_columns = 50                 # To display every column of the dataset in head()

import warnings
warnings.filterwarnings('ignore')                   # To suppress all the warnings in the notebook.

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set(style='whitegrid', font_scale=1.3, color_codes=True)      # To apply seaborn styles to the plots.

import pandas_profiling

## 3. Data Loading<a id=section3></a>
- This dataset was collected from car sale advertisements in 2016.
- This dataset contains data for more than 9.5K cars sale records.

[Table Of Contents](#section0)

In [2]:
cardata = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/car_sales.csv', sep=',', encoding='latin-1')

### 3.1 Data Description<a id=section301></a>
- This data was collected from private car sale advertisements.
- This dataset is real raw data which has all inconvenient moments (as NA’s for example).
- The dataset comprises of **9576 observations of 10 columns**. 

Below is a table showing names of all the columns and their description.
<table align='left'>
    <thead>
        <style>
            td {
              text-align: left;
            }
        </style>
    <tr>
        <th>Column Name</th>
        <th>Description</th>
    </tr>
    <thead>    
    <tbody>
        <tr>
            <td>car</td>
            <td>Manufacturer Name</td>
        </tr>
        <tr>
            <td>price</td>
            <td>Selling price(in USD)</td>
        </tr>
        <tr>
            <td>body</td>
            <td>Car body type</td>
        </tr>
        <tr>
            <td>mileage</td>
            <td>as mentioned in advertisement (‘000 Km)</td>
        </tr>
        <tr>
            <td>engV</td>
            <td>Rounded engine volume (‘000 cubic cm)</td>
        </tr>
        <tr>
            <td>engType</td>
            <td>Type of fuel <br/>(“Other” in this case should be treated as NA)</td>
        </tr>
        <tr>
            <td>registration</td>
            <td>If car is registered or not</td>
        </tr>
        <tr>
            <td>year</td>
            <td>Year of production</td>
        </tr>
        <tr>
            <td>model</td>
            <td>Model name</td>
        </tr>
        <tr>
            <td>drive</td>
            <td>Drive type</td>
        </tr>
    </tbody>
</table>

[Table Of Contents](#section0)
### 3.2 Data Profiling<a id=section302></a>
- We will first understand our dataset using various pandas functionalities.
- Then we will do pandas profiling to find out which columns of our dataset need preprocessing.
- In preprocessing we will deal with zero and missing values columns.
- again we will do pandas profiling to see how preprocessing have transformed our dataset

### 3.2.1 Data Understanding<a id=section30201></a>

In [5]:
cardata.head()    # This will print top 5 rows of dataset`

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN

In [7]:
cardata.shape

(9576, 10)

In [4]:
cardata.info()    # This will show index, data type and memory information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 10 columns):
car             9576 non-null object
price           9576 non-null float64
body            9576 non-null object
mileage         9576 non-null int64
engV            9142 non-null float64
engType         9576 non-null object
registration    9576 non-null object
year            9576 non-null int64
model           9576 non-null object
drive           9065 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 748.2+ KB

*From above output, it is understood that the dataset contains missing values in engV and drive columns*
- We can see all numeric columns having count 9576 except engV. Looks like this column has some missing values
- We cal also see that the categorial column **drive** has 9065 values. This can also be a case of missing values.

In [8]:
cardata.describe(include='all')    # This will display statistical information of dataset

,car,price,body,mileage,engV,engType,registration,year,model,drive
count,9576,9576.000000,9576,9576.000000,9142.000000,9576,9576,9576.000000,9576,9065
unique,87,NaN,6,NaN,NaN,4,2,NaN,888,3
top,Volkswagen,NaN,sedan,NaN,NaN,Petrol,yes,NaN,E-Class,front
freq,936,NaN,3646,NaN,NaN,4379,9015,NaN,199,5188
mean,NaN,15633.317316,NaN,138.862364,2.646344,NaN,NaN,2006.605994,NaN,NaN
std,NaN,24106.523436,NaN,98.629754,5.927699,NaN,NaN,7.067924,NaN,NaN
min,NaN,0.000000,NaN,0.000000,0.100000,NaN,NaN,1953.000000,NaN,NaN
25%,NaN,4999.000000,NaN,70.000000,1.600000,NaN,NaN,2004.000000,NaN,NaN
50%,NaN,9200.000000,NaN,128.000000,2.000000,NaN,NaN,2008.000000,NaN,NaN
75%,NaN,16700.000000,NaN,194.000000,2.500000,NaN,NaN,2012.000000,NaN,NaN
max,NaN,547800.000000,NaN,999.000000,99.990000,NaN,NaN,2016.000000,NaN,NaN

Here we can see that **price** and **mileage** columns have a minimum value of zero,<br> zero values does not make sense and indicates an invalid or missing value.

In [7]:
cardata.shape    # This will print the no. of row and columns

(9576, 10)

In [8]:
cardata.columns     # This will print name of all columns

Index(['car', 'price', 'body', 'mileage', 'engV', 'engType', 'registration',
       'year', 'model', 'drive'],
      dtype='object')

In [9]:
cardata.dtypes    # This will print datatypes of all columns

car             object
price           float64
body            object
mileage         int64
engV            float64
engType         object
registration    object
year            int64
model           object
drive           object
dtype: object

*From above output, it is understood that the dataset has 9576 rows and 10 columns.<br>
Also we can see that price and mileage columns have a minimum value of zero, zero values does not make sense and indicates an invalid or missing value.*

In [11]:
cardata.isnull().sum()    # This will print count of NaN values in column

car             0
price           0
body            0
mileage         0
engV            434
engType         0
registration    0
year            0
model           0
drive           511
dtype: int64

*From the above output we can see that **engV** and **drive** columns contains null values.<br>
Will not consider 0 as missing or invalid value at the moment, will see further how to deal with them*

[Table Of Contents](#section0)

### 3.2.2 Rename Columns name<a id=section30202></a>

In [12]:
# Rename some columns name, to get meaningful information
cardata.rename(columns={'car':'Brand','year':'prod_year'},inplace=True) 
cardata.shape

(9576, 10)

[Table Of Contents](#section0)
### 3.2.3 Pandas Profiling before Data Preprocessing<a id=section30203></a>
- By pandas profiling, an interactive HTML report is generated.
    - It contains all the information about the columns of the dataset (counts and type of each column).
    - Detailed information about each column
    - Co-relation between different columns
    - A sample of dataset.
- It gives us visual interpretation of each column in the data.
- Spread of the data can be better understood by the distribution plot.
- Grannular level analysis of each column.

In [13]:
preprofile = pandas_profiling.ProfileReport(cardata)
preprofile.to_file(output_file="cardata_preprocessing.html")

*Have done Pandas Profiling before preprocessing our dataset and named the html file as **cardata_preprocessing.html**.<br> We can find useful insight by analyzing this file.*

[Table Of Contents](#section0)
<a id=section4></a>
## 4. Data Preprocessing 

From the above report generated, we get 
- Dataset has 113 (1.2%) duplicate rows -----------------> __NEED TO DROP DUPLICATE VALUES__
- drive has 511 (5.3%) missing values --------------------> __NEED TO DROP/REPLACE MISSING VALUES__
- engV has 434 (4.5%) missing values --------------------> __NEED TO DROP/REPLACE MISSING VALUES__
- mileage has 348 (3.6%) zeros -----------------------------> __NEED TO DROP/REPLACE ZERO VALUES__
- model has a high cardinality: 863 distinct values -----> __NEED TO DROP HIGH CARDINALITY VALUES__
- price has 267 (2.8%) zeros----------------------------------> __NEED TO DROP/REPLACE ZERO VALUES__

#### Initial observation as a result from profiling of Carsale Dataset can be seen in cardata_preprocessing.html
![](PreProcessing.png)

### 4.1 Remove Duplicates (113 records)<a id=section401></a>

In [14]:
cardata.drop_duplicates(keep='first', inplace=True)
cardata.shape

(9463, 10)

This dataset had **113** duplicate rows, which was removed here and now **9463** unique rows are present in dataset

[Table Of Contents](#section0)
### 4.2 Dealing with zero and missing values<a id=section402></a>

#### 4.2.1 Dealing with zero values<a id=section40201></a>

##### - Replacing zero values of **price** column with **median value** of price.

In [15]:
cardata[cardata.price == 0]['price'].count()

240

From the above output we can see that **price** column has **240 rows** with **zero** values.<br><br>
Replace these zero values with nan values, so that we can replace them with median values.

In [16]:
cardata.replace({'price': 0}, np.nan, inplace=True)

In [18]:
# confirming if all were replaced with null
cardata.isnull().sum()

Brand           0
price           240
body            0
mileage         0
engV            434
engType         0
registration    0
prod_year       0
model           0
drive           510
dtype: int64

Get median values for the cars based on their brand.

In [19]:
def get_median_price(x):    
    
    brand = x.name[0]
    
    if x.count() > 0:
        return x.median()     # Return median for a brand/model if the median exists.
    elif cardata.groupby(['Brand'])['price'].count()[brand] > 0:
        brand_median = cardata.groupby(['Brand'])['price'].median()[brand]        
        return brand_median   # Return median of brand if particular brand/model combo has no median,
    else:                     # but brand itself has a median for the 'price' feature. 
        return cardata['price'].median() # Otherwise return dataset's median for the 'price' feature.
    
price_median = cardata.groupby(['Brand','model'])['price'].apply(get_median_price).reset_index()
price_median.rename(columns={'price': 'price_med'}, inplace=True)
price_median.head()

   Brand model  price_med
0  Acura  MDX   17200.0
1  Acura  RL    13950.0
2  Acura  TL    8699.0
3  Acura  TLX   38200.0
4  Acura  ZDX   30999.0

Fill the now converted nan values for price column with the median values.

In [20]:
def fill_with_median_price(x):
    if pd.isnull(x['price']):
        cond1 = price_median['Brand'] == x['Brand']
        cond2 = price_median['model'] == x['model']
        return price_median[(cond1) & (cond2)]['price_med'].values[0]
    else:
        return x['price']
    
cardata.price = cardata.apply(fill_with_median_price, axis=1)
#carsale['price'] = carsale.apply(fill_with_median, axis=1)
cardata.head()

,Brand,price,body,mileage,engV,engType,registration,prod_year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN

In [21]:
# confirming if all were replaced with the median values
cardata.isnull().sum()

Brand           0
price           0
body            0
mileage         0
engV            434
engType         0
registration    0
prod_year       0
model           0
drive           510
dtype: int64

In [22]:
cardata[cardata.price == 0]

Empty DataFrame
Columns: [Brand, price, body, mileage, engV, engType, registration, prod_year, model, drive]
Index: []

From above output we can observe that, now price column doesnot have any zero values entries.

##### - Replacing **zero** values of **mileage** column with **median value** of mileage.

In [23]:
cardata[cardata.mileage == 0]['mileage'].count()

310

From the above output we can see that **mileage** column has **310** rows with **zero values**.

Replace these zero values with nan values, so that we can replace them with median values.

In [24]:
cardata.replace({'mileage':0}, np.nan, inplace=True)

In [25]:
# confirming if all were replaced with null
cardata.isnull().sum()

Brand           0
price           0
body            0
mileage         310
engV            434
engType         0
registration    0
prod_year       0
model           0
drive           510
dtype: int64

In [26]:
def get_median_mileage(x):
    brand = x.name[0]
    if x.count() > 0:
        return x.median() # Return median for a brand/model if the median exists.
    elif cardata.groupby(['Brand'])['mileage'].count()[brand] > 0:
        brand_median = cardata.groupby(['Brand'])['mileage'].apply(lambda x: x.median())[brand]
        return brand_median # Return median of brand if particular brand/model combo has no median,
    else:                 # but brand itself has a median for the 'mileage' feature. 
        return cardata['mileage'].median() # Otherwise return dataset's median for the 'mileage' feature.
    
mileage_median = cardata.groupby(['Brand','model'])['mileage'].apply(get_median_mileage).reset_index()
mileage_median.rename(columns={'mileage': 'mileage_med'}, inplace=True)
mileage_median.head()

   Brand model  mileage_med
0  Acura  MDX   85.0
1  Acura  RL    138.0
2  Acura  TL    145.0
3  Acura  TLX   4.0
4  Acura  ZDX   32.0

In [27]:
def fill_with_median_mileage(x):
    if pd.isnull(x['mileage']):
        return mileage_median[(mileage_median['Brand'] == x['Brand']) & (mileage_median['model'] == x['model'])]['mileage_med'].values[0]
    else:
        return x['mileage']
    
cardata['mileage'] = cardata.apply(fill_with_median_mileage, axis=1)
cardata.head()

,Brand,price,body,mileage,engV,engType,registration,prod_year,model,drive
0,Ford,15500.0,crossover,68.0,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173.0,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135.0,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162.0,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91.0,NaN,Other,yes,2013,E-Class,NaN

In [28]:
# confirming if all were replaced with the median values
cardata.isnull().sum()

Brand           0
price           0
body            0
mileage         0
engV            434
engType         0
registration    0
prod_year       0
model           0
drive           510
dtype: int64

In [29]:
cardata[cardata.mileage == 0]

Empty DataFrame
Columns: [Brand, price, body, mileage, engV, engType, registration, prod_year, model, drive]
Index: []

From above output we can observe that, now mileage column doesnot have any zero values entries.

[Table Of Contents](#section0)
#### 4.2.2 Dealing with missing values<a id=section40202></a>

##### - Replacing **null values** of **engV** column with **median value** of engV column.

In [30]:
cardata.isnull().sum()

Brand           0
price           0
body            0
mileage         0
engV            434
engType         0
registration    0
prod_year       0
model           0
drive           510
dtype: int64

As per the above output **engV** column has **434 null values**, now we will replace these null values with **median** of engV column.

In [31]:
def get_median_engV(x):
    brand = x.name[0]
    if x.count() > 0:
        return x.median() # Return median for a brand/model if the median exists.
    elif cardata.groupby(['Brand'])['engV'].count()[brand] > 0:
        brand_median = cardata.groupby(['Brand'])['engV'].apply(lambda x: x.median())[brand]
        return brand_median # Return median of brand if particular brand/model combo has no median,
    else:                 # but brand itself has a median for the 'engV' feature. 
        return cardata['engV'].median() # Otherwise return dataset's median for the 'engV' feature.
    
engV_median = cardata.groupby(['Brand','model'])['engV'].apply(get_median_engV).reset_index()
engV_median.rename(columns={'engV': 'engV_med'}, inplace=True)
engV_median.head()

   Brand model  engV_med
0  Acura  MDX   3.7
1  Acura  RL    3.5
2  Acura  TL    3.2
3  Acura  TLX   2.4
4  Acura  ZDX   3.7

In [32]:
def fill_with_median_engV(x):
    if pd.isnull(x['engV']):
        return engV_median[(engV_median['Brand'] == x['Brand']) & (engV_median['model'] == x['model'])]['engV_med'].values[0]
    else:
        return x['engV']
    
cardata['engV'] = cardata.apply(fill_with_median_engV, axis=1)
cardata.head()

,Brand,price,body,mileage,engV,engType,registration,prod_year,model,drive
0,Ford,15500.0,crossover,68.0,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173.0,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135.0,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162.0,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91.0,2.6,Other,yes,2013,E-Class,NaN

In [33]:
cardata[cardata.engV == 0]

Empty DataFrame
Columns: [Brand, price, body, mileage, engV, engType, registration, prod_year, model, drive]
Index: []

From above output, its confirmed that all the **null values** of **engV** column are **replaced**.

##### - Replacing **null values** of **drive** column with **mode value** of drive column.

In [34]:
cardata.isnull().sum()

Brand           0
price           0
body            0
mileage         0
engV            0
engType         0
registration    0
prod_year       0
model           0
drive           510
dtype: int64

**drive column** has **510 null values**, drive column has **categorical** values so we will replace null values with mode of drive column.

In [35]:
def get_drive_mode(x):
    brand = x.name[0]
    if x.count() > 0:
        return x.mode() # Return mode for a brand/model if the mode exists.
    elif cardata.groupby(['Brand'])['drive'].count()[brand] > 0:
        brand_mode = cardata.groupby(['Brand'])['drive'].apply(lambda x: x.mode())[brand]
        return brand_mode # Return mode of brand if particular brand/model combo has no mode,
    else:                 # but brand itself has a mode for the 'drive' feature. 
        return cardata['drive'].mode() # Otherwise return dataset's mode for the 'drive' feature.
    
drive_modes = cardata.groupby(['Brand','model'])['drive'].apply(get_drive_mode).reset_index()
drive_modes.drop('level_2', axis=1, inplace=True)
drive_modes.rename(columns={'drive': 'drive_mode'}, inplace=True)
drive_modes.head()

   Brand model drive_mode
0  Acura  MDX   full
1  Acura  RL    full
2  Acura  TL    front
3  Acura  TLX   front
4  Acura  ZDX   full

In [36]:
def fill_with_mode_drive(x):
    if pd.isnull(x['drive']):
        return drive_modes[(drive_modes['Brand'] == x['Brand']) & (drive_modes['model'] == x['model'])]['drive_mode'].values[0]
    else:
        return x['drive']
    
cardata['drive'] = cardata.apply(fill_with_mode_drive, axis=1)
cardata.head()

,Brand,price,body,mileage,engV,engType,registration,prod_year,model,drive
0,Ford,15500.0,crossover,68.0,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173.0,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135.0,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162.0,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91.0,2.6,Other,yes,2013,E-Class,rear

In [37]:
cardata.isnull().sum()

Brand           0
price           0
body            0
mileage         0
engV            0
engType         0
registration    0
prod_year       0
model           0
drive           0
dtype: int64

In [38]:
cardata[cardata.drive == np.nan]

Empty DataFrame
Columns: [Brand, price, body, mileage, engV, engType, registration, prod_year, model, drive]
Index: []

Now as per the above output none of the columns have null values.

[Table Of Contents](#section0)
#### 4.2.3 Dealing with "Other" values<a id=section40203></a>

##### - Engine Type column has others values.

In [39]:
cardata.engType.unique()

array(['Gas', 'Petrol', 'Diesel', 'Other'], dtype=object)

- Changes **others** with mode value of the column

In [40]:
cardata[cardata.engType == 'Other'].count()['engType']

462

In [41]:
cardata.replace({'engType': 'Other'}, np.nan, inplace=True)

In [42]:
cardata.isnull().sum()

Brand           0
price           0
body            0
mileage         0
engV            0
engType         462
registration    0
prod_year       0
model           0
drive           0
dtype: int64

In [43]:
def get_engType_mode(x):
    brand = x.name[0]
    if x.count() > 0:
        return x.mode() # Return mode for a brand/model if the mode exists.
    elif cardata.groupby(['Brand'])['engType'].count()[brand] > 0:
        brand_mode = cardata.groupby(['Brand'])['engType'].apply(lambda x: x.mode())[brand]
        return brand_mode # Return mode of brand if particular brand/model combo has no mode,
    else:                 # but brand itself has a mode for the 'engType' feature. 
        return cardata['engType'].mode() # Otherwise return dataset's mode for the 'engType' feature.
    
engType_modes = cardata.groupby(['Brand','model'])['engType'].apply(get_engType_mode).reset_index().drop('level_2', axis=1)
engType_modes.rename(columns={'engType': 'engType_mode'}, inplace=True)
engType_modes.head()

   Brand model engType_mode
0  Acura  MDX   Petrol
1  Acura  RL    Gas
2  Acura  TL    Gas
3  Acura  TLX   Petrol
4  Acura  ZDX   Petrol

In [44]:
def fill_with_mode_engType(x):
    if pd.isnull(x['engType']):
        return engType_modes[(engType_modes['Brand'] == x['Brand']) & (engType_modes['model'] == x['model'])]['engType_mode'].values[0]
    else:
        return x['engType']
    
cardata['engType'] = cardata.apply(fill_with_mode_engType, axis=1)
cardata.head()

,Brand,price,body,mileage,engV,engType,registration,prod_year,model,drive
0,Ford,15500.0,crossover,68.0,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173.0,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135.0,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162.0,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91.0,2.6,Diesel,yes,2013,E-Class,rear

In [45]:
cardata.isnull().sum()

Brand           0
price           0
body            0
mileage         0
engV            0
engType         0
registration    0
prod_year       0
model           0
drive           0
dtype: int64

In [46]:
cardata[cardata.engType == 'Other']

Empty DataFrame
Columns: [Brand, price, body, mileage, engV, engType, registration, prod_year, model, drive]
Index: []

Now as per the above output all rows with value "other" are replaced with mode values.

### 4.3 Drop column model due to high cardinality.<a id=section403></a>

In [47]:
cardata.drop(['model'], axis=1, inplace=True)
cardata.shape

(9463, 9)

[Table Of Contents](#section0)
### 4.4 Pandas Profiling after Data Preprocessing<a id=section404></a>

In [48]:
postprofile = pandas_profiling.ProfileReport(cardata)
postprofile.to_file(output_file="cardata_postprocessing.html")

In [49]:
cardata.describe(include='all')

,Brand,price,body,mileage,engV,engType,registration,prod_year,drive
count,9463,9463.000000,9463,9463.000000,9463.000000,9463,9463,9463.000000,9463
unique,87,NaN,6,NaN,NaN,3,2,NaN,3
top,Volkswagen,NaN,sedan,NaN,NaN,Petrol,yes,NaN,front
freq,927,NaN,3622,NaN,NaN,4676,8902,NaN,5482
mean,NaN,16080.116288,NaN,143.155289,2.622469,NaN,NaN,2006.525837,NaN
std,NaN,24127.131261,NaN,96.330047,5.999659,NaN,NaN,7.062584,NaN
min,NaN,259.350000,NaN,1.000000,0.100000,NaN,NaN,1953.000000,NaN
25%,NaN,5494.500000,NaN,76.000000,1.600000,NaN,NaN,2004.000000,NaN
50%,NaN,9500.000000,NaN,130.000000,2.000000,NaN,NaN,2008.000000,NaN
75%,NaN,17000.000000,NaN,196.000000,2.500000,NaN,NaN,2012.000000,NaN
max,NaN,547800.000000,NaN,999.000000,99.990000,NaN,NaN,2016.000000,NaN

We have processed the data and now the dataset does not contain any missing values. So, the pandas profiling report which we have generated after preprocessing will give us more beneficial insights. 

- Observations:
    - In the Dataset info, Total Missing(%) = 0.0%
    - Number of variables = 10
    
![](PostProcessing.png)

In [50]:
#save the processed database to csv file
cardata.to_csv("processed_car_sales.csv", index=False)